.cursor-pointer {
  cursor: pointer;
}

header {
  margin: 7em 0 4em 0;
}

header .form-container:not(.placeholder) {
  margin: 0 auto;
  max-width: 600px;
}

main:not(.placeholder) {
  padding: 0 var(--bulma-column-gap);
  margin: 4em auto;
}

main .notification.is-primary .copy-icon {
  width: 0.8em;
}