<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>IP to CIDR</title>
	<link rel="stylesheet" href="assets/css/index.css">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css">
</head>

<body>
	<header class="has-text-centered">
		<form action="/">
			<h1 class="title is-1">Type in the IP</h1>
			<div class="columns form-container">
				<div class="column is-four-fifths">
					<input class="input is-medium" type="text" name="ip" id="idInput" placeholder="IPv4 or IPv6" />
				</div>
				<div class="column">
					<button id="submit" class="button is-primary is-medium is-fullwidth">Convert</button>
				</div>
			</div>
			<button id="useYourIp" type="button">Or use your IP</button>
		</form>
	</header>

	<main class="container">
		{{ if .cidr }}
		<div class="notification is-primary">
			{{ .cidr }}
		</div>
		{{ end }}

		{{ if .error}}
		<div class="notification is-danger">
			{{ .error }}
		</div>
		{{ end }}
	</main>

	<script src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.min.js"></script>
	<script>
		const clientIp = "{{ .ip }}"

		$(document).ready(() => {
			$('#useYourIp').click(() => {
				$(idInput).val(clientIp)
				$('#submit').click()
			})
		})
	</script>
</body>

</html>